/* Login */
.login {
  height: 100%;
  background-image: url(../img/gestao_financeira.jpg) !important;
  background-size: cover;
}
.image-login {
  margin-top: 20px !important;
  max-height: 100px;
}
/* Home */
.image-container {
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
}
.image-home {
  margin-top: 200px !important;
  vertical-align: middle;
  max-height: 300px;
}

/* Grafico */
.graphic-container {
  margin: 0 auto;
  width: 50%;
  text-align: center;
}
#grafic-box {
  display: none;

}

/* Template */
.tittle-login {
  width: 100% !important;
  text-align: center;
  margin: 10px auto !important;
  padding: 0 !important;
}
.table {
  width: 100% !important;
}
html, head, body {
  margin: 0 !important;
  padding: 0 !important;
}

.status {
  padding: 8px 14px 8px 14px !important;
  min-width: 150px !important;
}

#navigation #brand {
  float: left;
  color: #fff;
  font-size: 20px;
  margin-top: 9px;
  padding-right: 69px;
  padding-left: 35px;
  padding-bottom: 2px;
  background: 0 0!important
}

#left .subnav:hover .subnav-title .toggle-gessubnav i {
  display: block
}

#left .subnav .subnav-title .toggle-gessubnav {
  color: #444;
  padding: 1px 6px;
  text-decoration: none;
  display: block;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden
}

#left .subnav .subnav-title .toggle-gessubnav i {
  position: absolute;
  font-size: 14px;
  left: 10px;
  top: 4px;
  display: block
}

#left .subnav .subnav-title .toggle-gessubnav:hover {
  color: #222
}

.toggle-mobile {
  display: none!important
}

footer {
  text-align: center;
  background: #eee;
  width: 100%;
  position: relative;
  margin-bottom: -1px!important
}

footer p {
  padding: 10px 0;
  margin-bottom: 0
}

.daterangepicker .calendar {
  max-width: 340px!important;
  margin: 4px
}

.daterangepicker_input {
  width: 85%!important
}

.modal.fade {
  top: -500px;
}
@media (max-width: 767px) {
  .modal.fade {
    top: -500px;
  }
}
